body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
	  padding: 0px;
	  overflow-x:hidden;

  }

  .main-image {
      background-image: url("media/banner.jpg");
      background-color: #cccccc;
      height: 310px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
      }       

  .main-text {
    text-align: center;
    position: absolute;
    top: 47%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .objective-text {
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }

  .no-padding
  {
    padding:0px;
  }


  .about{
	
    border-right:1px solid black;
    margin-top: 2%;
    font-family: 'Open Sans',sans-serif;
    text-align: right;
    float:left
  }
  .right_section{
    float:right;
    padding-left: 10px;
  }
  .about-text{
    margin-left: 70%;
    font-weight: bold;
  }
  
  .subdivision {
    padding-left: 1.3em;
  }
  .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    #profile_pic{
      height: 20%;
      width: 20%;
      border-radius: 50%;
      border:2px solid #ffffff
    }


  .detail{
    text-align: center;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }
  .detail-sub{
    text-align: center;
    font-size: 1.2em;
    font-family: 'Open Sans',sans-serif;
  }
  
  .right_heading{
    margin-top: 4%;
    font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	text-align: left;
}
.right_content{
	text-align: left;
	font-size: 13px;
	font-family: sans-serif;
}

  div.gallery {
    margin: 15px;
    float: right;
    width: 140px;
}


div.gallery img {
    width:100%;
    height: auto;
}

.about-sub{
	font-family: 'Open Sans',sans-serif;
	font-size: 1em;	
}
.abt-sub1{
	font-family: 'Open Sans',sans-serif;
	font-size: 0.8em;	
	text-align: left;
}


.name {
    line-height: 0.10;
    text-align: center;
    padding: 40px;
    color: #ffff;
    font-size:2em;
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
   }
   .name span {
    display: inline-block;
    position: relative;
   }
   .name span:before,
   .name span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 2px solid white;
    width: 600px;
   }
   .name span:before {
    right: 100%;
    margin-right: 15px;
   }
   .name span:after {
    left: 100%;
    margin-left: 15px;
   }

   .experience{
    margin-top: 4%;
    font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	text-align: left;
}
.early-life{
	text-align: left;
	font-size: 13px;
	font-family: 'Open Sans',sans-serif;
}

.chart-container {
  width: 80%;
  height: 480px;
  margin: 0 auto;
}
.make_inline{
  float: left;
}
